
.login-page {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/logingBG.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.logo-wrap {
  position: absolute;   
  top: .1cm;
  left: .7cm;

  width: 100vh;
}


.logo {
  width: 100px;
  height: auto;
}


.login-card {
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
}

.login-card h2 {
  margin-bottom: 20px;
}


.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: rgb(247, 244, 246);
}


.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.link {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}


.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: white;
  color: black;
  margin-bottom: 10px;
}


.register-text {
  font-size: 14px;
}
